<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127455175087-mlb1ie5fn1jp6r026pvdcicmj5ljjue0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127455175087-mlb1ie5fn1jp6r026pvdcicmj5ljjue0</string>
	<key>API_KEY</key>
	<string>AIzaSyAyyVQTIRyW4mC0PNsA9Y48DvclzLabdF4</string>
	<key>GCM_SENDER_ID</key>
	<string>127455175087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeRegularProject</string>
	<key>PROJECT_ID</key>
	<string>reactnativeregularprojec-aab3c</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeregularprojec-aab3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127455175087:ios:4307118b8f4cedeb5a8f5a</string>
</dict>
</plist>